@model BankApp.MvcUI.Entities.tbl_Musteriler


@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/_IslemLayout.cshtml";


    string tarih= DateTime.Now.AddYears(-18).ToString("yyyy-MM-dd");



}
<div class="login-content">
    <!-- Login -->

    <div class="nk-block toggled" id="l-login">

        <div class="nk-form">
            @if (ViewBag.Hata != null)
            {
                <div class="alert alert-danger" role="alert">@ViewBag.Hata</div>
            }


            <form method="post" action="/Kullanici/Create">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input type="text" maxlength="11" pattern="\d{11}" title="Lütfen 11 Haneli TC Kimlik Numaranızı Giriniz." class="form-control sayi" placeholder="Tc Kimlik No" name="TCKN" required>
                        @Html.ValidationMessageFor(model => model.TCKN, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control isim" id="isim" placeholder="İsim" name="isim" required>
                        @Html.ValidationMessageFor(model => model.isim, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control isim" id="isim" placeholder="Soy isim" name="soyisim" required>
                        @Html.ValidationMessageFor(model => model.soyisim, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-plus-symbol"></i></span>
                    <div class="nk-int-st">
                        <input type="password" minlength="4" maxlength="8" class="form-control" placeholder="Şifre" name="sifre" required>
                        @Html.ValidationMessageFor(model => model.sifre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(m => m.cinsiyet, true) Erkek
                    </label>
                    <label>
                        @Html.RadioButtonFor(m => m.cinsiyet, false) Kadın
                    </label>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-calendar"></i></span>
                    <div class="nk-int-st">
                        <input type="date" class="form-control" name="dogumTarihi" min="1900-01-01" max="@tarih" required>
                        @Html.ValidationMessageFor(model => model.dogumTarihi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control isim" placeholder="Anne kızlık soyadı" name="kizlikSoyadi" required>
                        @Html.ValidationMessageFor(model => model.kizlikSoyadi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="email" class="form-control" placeholder="Mail" name="mail" required>

                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-phone"></i></span>
                    <div class="nk-int-st">
                        <input type="text" minlength="8" maxlength="13" class="form-control sayi" placeholder="Cep Telefonu" name="cepTelefonu" required>

                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-phone"></i></span>
                    <div class="nk-int-st">
                        <input type="text" minlength="8" maxlength="13" class="form-control sayi" placeholder="Ev Telefonu" name="evTelefonu" required>
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-house"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" placeholder="Müşteri Adres" name="musteriAdresi" required>
                    </div>
                </div>

                <button type="submit" href="Login" data-ma-action="nk-login-switch" data-ma-block="#l-register" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></button>

            </form>
        </div>

        <div class="nk-navigation rg-ic-stl">
            <a href="/Kullanici/Login" data-ma-action="nk-login-switch" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>

        </div>
    </div>
</div>