@model BankApp.MvcUI.Entities.tbl_Musteriler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Musteriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TCKN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCKN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cinsiyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cinsiyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dogumTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dogumTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kizlikSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kizlikSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriPuani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriPuani)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.musteriNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
